main {
  background-color: white;
  color: black;
  line-height: 1.5;
  border-radius: 50px;
  padding: 2em;
  margin: 2em;
}

.content-title {
	font-size: 1.375rem;
	padding-bottom: 0.625rem; 
}

.content-main {
  display: flex;
  flex-wrap: wrap;
}

.content-main-item {
  justify-content: center;
  text-align: center;
  min-width: 12.5rem;
}

.content-images {
  display: flex;
  
  margin-top: 2rem;
}

@media only screen and (min-width: 29.8125rem /*477px*/) {
	.content-images {
			justify-content: space-around;
	}
}
@media only screen and (min-width: 77.5rem /*1240px*/ ) {
	.content-images {
			justify-content: space-evenly;
	}
}

@media only screen and (max-width: 90.5rem ) {
	.content-images {
			display: none;
	}
}

.rounded-image {
  flex-basis: 429px;
  flex-shrink: 1;
  border-radius: 50px;
  height: 288px;
  box-shadow: 4px 4px 6px #000;
}

  div.welcome-msg {
    

    h2 {
      align-self: center;
      margin-bottom: .5em;
      margin-top: 0;
    }
  }
  div.welcome-image {
    display: flex;
    flex-direction: row;
    color: black;
    align-self: flex-start;

  }