header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  @media screen and (max-width: 64rem /*1024*/) {
    flex-direction: row;
    justify-content: flex-end;
    gap: 10rem;
  }
  @media screen and (max-width: 39.8125rem /*637.04*/) {
    gap: 2rem;
}

  .hd-title {
    font-size: 5.5rem;
    margin-top: 1rem;
    margin-bottom: 0;
    text-shadow: -.15em .15em .15em #000;
  
    @media screen and (max-width: 64rem /*1240*/) {
      font-size: 3em;
    }
    
    @media screen and (max-width: 39.8125rem /*637.04*/) {
        font-size: 1.5em;
    }
  }

  #long-menu {
    justify-content: flex-end;
  }
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  ul {
    list-style-type: none;
    display: flex;
    padding: 0;

    .hd-links {
      color: #ffffff;
      text-shadow: -.15em .15em .15em #000;
      font-size: 2.5rem;
      font-weight: bold;

      @media screen and (max-width: 64rem) {
        font-size: 2em;
      }
      
      @media screen and (max-width: 39.8125rem) {
          font-size: 1.25em;
      }

      &:hover{
        transform: scale(1.25)
      }
    }

    li {
      min-width: 15rem;
    }

    a:link{
          text-decoration: none;
    }
    li:hover{
      transform: scale(1.25)
    }

    p{
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 64rem) {
  #long-menu{
    
    ul{
      background-color: black;

      li:hover {
        background-color: #555;
      }
    }
    .hd-links {
      color: #ffffff;
      text-shadow: -.15em .15em .15em #000;
      font-size: 1.1rem;
      font-weight: bold;
      
      &:hover{
        transform: scale(1.25)
      }
    }
    
  }
  #sub-menu{
    ul{
      background-color: black;

      li:hover {
        background-color: #555;
      }
    }
    
    .subMenu {
      color: #ffffff;
      text-shadow: -.15em .15em .15em #000;
      font-size: 1.1rem;
      font-weight: bold;
    }
  }

  a:link{
        text-decoration: none;
  }

}


.menu-area .dropdown a{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #555;
  height: 60px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
.menu-area a:hover{
  color: #fff;
}
.menu-area ul{
  list-style: none;
  display: flex;
}
.menu-area li{
  position: relative;
  width: 100%;
  text-align: center;
}
.menu-area li:hover .dropdown > li{
  display: block;
  top: 0;
}
.dropdown li{
  display: none;
  position: relative;
}
.dropdown{
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
}
