.headerContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: 0.5rem solid #8c2034;
  border-top: 0.5rem solid #8c2034;
  background-image: linear-gradient(#725c70, #95cc6e, #5f5860, #000000a9);

  nav {
    a {
        font-family: "Logger";
        color: #000000;
    }

    ul {
      list-style-type: none;
      display: flex;
      justify-content: center;
      padding: 0;

      li {
        padding: 0 1em 1em 1em;
        font-size: 1.75em;
        font-weight: bold;
      }
    }
  }

  .logo {
    font-family: "Logger";
    color: #814f0e;
    font-size: 4em;
    margin-bottom: 0;
  }
}
